@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One');

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center; 
    font-family: 'Poppins';
    letter-spacing: 2pt;
    color: brown;
    
}

h3 {
    text-align: center; 
    font-family: 'Poppins';
    letter-spacing: 2pt;
    color: brown;
}

.home-text {
    font-family: 'Poppins';
}

.navbar a {
    font-weight: 500;
    color: black;
    letter-spacing: 2pt;
}

.navbar a:hover {
    color: brown;
}

.container-about {
    background-color: rgb(125, 65, 65);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 70%;
}

.container-about-text {
    padding: 50px;
    color: white;
}

.card-group {
    margin: 60px;
    font-family: 'Fredoka One';
}

.card {
    background-color: white;
    width: 35%;
    flex-wrap: wrap;
    flex: initial; 
    margin: 30px;
    border: 0;
}

.card-deck {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.card-body h5 {
    color: brown;
    font-family: 'Fredoka One';
}

.card-body p {
    color: rgb(97, 88, 88);
    font-family: 'Poppins';
}

.card:hover{
    transform: scale(1.1);
    transition: .3s;
}

.card-text {
    font-family: 'Poppins';
    text-align: center;
}

.social{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.social a{
    color: brown;
    font-size: 40px;
    letter-spacing: 5pt;
}

.social a:hover{
    color: black;
    transition: .3s;
}



